/*directory.html*/
.test
{
	background-color: red;
}
.card{
	width:900px ;
	margin: 0 auto;
 }
.secolumn{
width:450px;
float:right;
overflow:hidden;
}
.fircolumn{
width:450px;
float:left;
overflow:hidden;
}
.buttons{

width:900px;
height:15%;
margin: 0 auto;
display: flex;
  align-items: center;
  justify-content: center;

}
.separater{

	width: 900px;
	height: 85%;
	margin: 0 auto;
	display: flex;
  align-items: center;
  justify-content: center;
	
}
.btn{

	margin-left: 10%;
	margin-right: 10%;
}
.more{
	height: 10px;
}
/*base.html*/
.container1{
	width: 33%;

.container2{
	width:33%;
	
}
.container3{
	width:33%;


}
.footer{
	margin: 0 auto;
}
/*lawyer-profile.html*/
.oddleft{
width: 50%;
float: left;
overflow:hidden;
}
.evenright{
width: 50%;
float: right;
overflow:hidden;
}

/*home.html*/
.testy{
	color:green;

}
.testy2{
	color: blue;
}

/*about.html*/


