/*home.html*/
.test
{
	background-color: red;
}
.card{
	width:900px ;
	margin: 0 auto;
 }
.secolumn{
width:450px;
float:right;
overflow:hidden;
}
.fircolumn{
width:450px;
float:left;
overflow:hidden;
}
.buttons{ /*holds the buttons on the content card*/

width:900px;
height:15%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
overflow:hidden;

}
.separater{

	width: 900px;
	height: 85%;
	margin: 0 auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
	overflow:hidden;
}
.btn{

	margin-left: 10%;
	margin-right: 10%;
}
.more{ /* button for See more contact information*/
	height: 10px;
}
.jumbotron{
	width:95%;
	background-color: ##4bb1bd!important;
}
function toggleText() {
  var text = document.getElementById("demo");
  if (text.style.display === "none") {
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}
.searchdiv1{
	float: left;

}
.submitdiv2{
	float:right;

}
.picdiv{
	float:right;
}

/*.textdiv{
	float: left;
}
.topdiv{
	width: 100%;
	height: 85%;
	margin: 0 auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
	overflow:hidden;
	display: inline-block;
    vertical-align: middle;
}
.bottomdiv{
	width: 100%;
	height: 15%;
	margin: 0 auto;
	display: flex;
	align-items: center;
  	justify-content: center;
	overflow:hidden;
	display: inline-block;
    vertical-align: middle;
}*/
.pic{
	width: 100%;
	height:100%;
}
/*base.html*/
.container1{
	width: 33%;

.container2{
	width:33%;
	
}
.container3{
	width:33%;


}
.footer{
	margin: 0 auto;
}
.container0{
	background-color: ##4bb1bd;
}
/*lawyer-profile.html*/
.oddleft{
width: 50%;
float: left;
overflow:hidden;
}
.evenright{
width: 50%;
float: right;
overflow:hidden;
}

/*about.html*/


