{%extends 'base.html' %}
{%block content%}

<div class="jumbotron">
<h2>This Network was created for a Girl Scout Gold Award Project by Emily Simkovich of Troop 57087 in partnership with the Adoptee Rights Campaign.</h2>

<h2> The Adoptee Rights Campaign is a diverse group of advocates whose vision is full citizenship status for all intercountry adoptees. For more information please visit their website <a href="https://adopteerightscampaign.org/">adopteerightscampaign.org</a>. </h2>

<h2>To join the legal referral network please fill out the form <a href="{{ url_for('Lawyer_Network.create') }}">here</a>.</h2>

<h2>For any inquries, please email arc.legalreferralnetwork@gmail.com </h2>

</div>




{% endblock %}