{%extends 'base.html' %}
{%block content%}
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
		<script>
			function create_account() {
				const http = new XMLHttpRequest();
				const url = "http://127.0.0.1:5000/create";
				
				http.open("POST", url);
							
				http.onreadystatechange = function() {
					if(this.readyState==4) { // Make sure we have received a response
						var status = document.getElementById("create-status");
						if(this.status==201) { // Make sure the response is good.
							status.classList.add("success");
							status.classList.remove("failure");
							status.innerHTML = "Account successfully created.";
							setTimeout(function() {
								window.location.href = "http://127.0.0.1:5000/login";
								}, 1500);
						} else {
							status.classList.add("failure");
							status.classList.remove("success");
							if (this.status==409) {
								status.innerHTML = "Account already exists.";
							} else {
								status.innerHTML = "Something went wrong. Try again later.";
							}
						} 
						
					}
				}
				var formData = new formData();	
				formData.append("username", document.getElementById('username').value);
				formData.append("password", document.getElementById('password').value);
				http.send(formData);	
			}
		</script>
</head>
<div class="jumbotron">
	<h1>Please fill out the form below to join the Referral Network</h1>
<form action="javascript:;" onsubmit="create_account()", method="POST">
	 
	  {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.lawfirm.label, class =  }} 
      {{ form.lawfirm() }}

      {{ form.states.label }} 
      {{ form.states() }}

      {{ form.website.label }} 
      {{ form.website() }}

      {{ form.specialities.label }} 
      {{ form.specialities() }}

      {{ form.email.label }} 
      {{ form.email() }}

      {{ form.phone.label }} 
      {{ form.phone() }}

      {{ form.address.label }} 
      {{ form.address() }}

      {{ form.probono.label }} 
      {{ form.probono() }}

      {{ form.accountEmail.label }} 
      {{ form.accountEmail() }}      

      {{ form.password.label }} 
      {{ form.password() }}

      {{ form.confirmPassword.label }} 
      {{ form.confirmPassword() }}

      {{ form.submit() }}

		  <!--<label for="name">Law Firm Name:</label><br>
		  <input type="text" class="form-control"  id="name" aria-describedby="emailHelp" placeholder="Law Firm">
		  <br><br>

		  <label for="state">What states are you certified by the Bar to serve in?</label><br>
		  <input type="text" class="form-control"  id="state" placeholder="Ex: Ohio, New Jersey, etc"><br><br>

		  <label for="website">Firm's Website:</label><br>
		  <input type="text" class="form-control"  id="website" placeholder="www.lawfirm.com"><br><br>

		  <label for="specialities">What are your firm's immigration specialties?</label><br>
		  <input type="text" class="form-control" id="specialities" placeholder="Ex: deportation defense, citizenship, etc"><br><br>		 

		  <label for="email">What email should potential clients use to contact you?</label><br>
		  <input type="email" class="form-control" id="email" placeholder="lawfirm@lawfirm.com"><br><br>
		  

		  <label for="phone">What phone number should potential clients use to contact you?</label><br>
		  <input type="number" class="form-control" id="phone" placeholder="XXX-XXX-XXXX"><br><br>

		  <label for="address">What is your firm's main address?</label><br>
		  <input type="text" class="form-control"  id="address" placeholder="Address"><br><br>

		  <label for="address">Will your firm offer pro-bono or low-bono services?</label><br>
		  <div class="form-check">
  			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  			<label class="form-check-label" for="exampleRadios1">
  				  Yes
 			 </label>
			</div>
			<div class="form-check">
			 			 <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
			  <label class="form-check-label" for="exampleRadios2">
			    No
			  </label>-->
			</form>
			</div>


 	<!--	<p>Does your firm have any additional addresses?</p>
		  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Yes
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    No
  </label>
</div>
<br>
		  <input type="submit" class="btn btn-primary" value="Submit">

		</form>
		<div id="create-status"></div>

</div>-->




{% endblock %}
