{%extends "base.html"%}
{%block content%}
<!--<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename= 'styles/styles.css') }}">-->
 
    	<div class="card">
     	 <div class="card-body">
        	<h3 class="card-title">Law Firm Name </h3>      
          <div class= separater>

            <div class= fircolumn>
             <h6>genPhone</h6>
              <h6>Address</h6>
             <h6>phone</h6>
              <a href="lawyer-profile.html"class="more" class="btn btn-outline-primary1">See more contact information</a>
             <p></p><!--spacer-->
          </div>

          <div class= secolumn> 
           <h4>state</h4>
           <p>specialities</p>
          </div>
        </div>
        
          <div class= buttons>
        	<a href="#" class="btn btn-primary">View Website</a>
        	<a href="#" class="btn btn-primary">Email</a>
       		<a href="lawyer-profile.html" class="btn btn-primary">View Profile</a>
        </div>
      		</div>
    	
  </div>

<p></p><!--spacer-->

{% endblock %}
