
{%extends 'base.html' %}
{%block content%}

<div class="jumbotron" class= jumbotron1>
  <!--<img src="Lawfirm3.jpg">make picture background of jumbotron-->

<h2>The Adoptee Rights Campaign</h2>
<h1>The Lawyer Network</h1>
<h3>Use the search bar below to search for immigration lawyers.</h3>
 <!--
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method = "post">
    <input class="form-control mr-sm-2" type="search" name = "lawfirm" placeholder="Law Firm" aria-label="Law Firm">
   <input class="form-control mr-sm-2" type="search" name = "state" placeholder="State" aria-label="State">-->
       <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        States</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Arizona</a>
          <a class="dropdown-item" href="#">California</a>
          <a class="dropdown-item" href="#">Florida</a>
          <a class="dropdown-item" href="#">Georgia</a>
          <a class="dropdown-item" href="#">Illinois</a>
          <a class="dropdown-item" href="#">Maryland</a>
          <a class="dropdown-item" href="#">Michigan</a>
          <a class="dropdown-item" href="#">Minnesota</a>
          <a class="dropdown-item" href="#">New Jersey</a>
          <a class="dropdown-item" href="#">New York</a>
          <a class="dropdown-item" href="#">Ohio</a>
          <a class="dropdown-item" href="#">Pennsylvania</a>
          <a class="dropdown-item" href="#">Texas</a>
          <a class="dropdown-item" href="#">Virginia</a>
          <a class="dropdown-item" href="#">Washington D.C.</a>
        </div>
      </li> -->
          
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          States
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




{%for result in statesearch %}

 <!--card to display results-->
    	<div class="card">
     	 <div class="card-body">
        	<h3 class="card-title">{{result.lawFirmName}}</h3>      
          <div class= separater><!--space between info and buttons -->

            <div class= fircolumn>
             <h6>{{result.genPhone}}</h6>
              <h6>{{result.address}}</h6>
             <h6>{{result.phone}}</h6>
              <a href="{{ url_for('Lawyer_Network.lprofile', lawfirm_id = result.lawfirm_id) }}"class="more" class="btn btn-outline-primary1">See more contact information</a>
             <p></p><!--spacer-->
          </div>

          <div class= secolumn> 
           <h4>{{result.state}}</h4>
           <p>{{result.specialities}}</p>
          </div>
        </div>
        
          <div class= buttons>
        	<a href="{{result.website}}" class="btn btn-primary">View Website</a>

        	<p id='demo' style='display: none'>{{result.email}}</p>     
			<button type='button' class="btn btn-primary" onclick="toggleText()">Email</button>
       		<a href="{{ url_for('Lawyer_Network.lprofile', lawfirm_id = result.lawfirm_id) }}" class="btn btn-primary">View Profile</a>
        </div>
      		</div>
    	
  </div>

<p> </p>

{%endfor%}




{% endblock %}


