
{%extends 'base.html' %}
{%block content%}

<div class="jumbotron">
<h2>The Adoptee Rights Campaign Presents:</h2>
<h1>The Legal Referral Network</h1>
<h3>Use the search bar below to search for immigration lawyers.</h3>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method = "post">
    <input class="form-control mr-sm-2" type="search" name = "lawfirm" placeholder="Law Firm" aria-label="Law Firm">
    <input class="form-control mr-sm-2" type="search" name = "state" placeholder="State" aria-label="State">
    <button class="btn btn-outline-success btn-lg" type="submit">Search</button>
  </form>
</nav>
</div>



{% endblock %}


