{%extends 'base.html' %}
{%block content%}

<div class="jumbotron"><!--container-->


<h1>{{result.lawFirmName}}</h1>
<br>
<h2>States Served:</h2>
<h3>{{result.state}}</h3>
<br>
<h2>Specialities:</h2>
<h4>{{result.specialities}}</h4>
<a href="{{ url_for('Lawyer_Network.claim') }}">Claim Profile</a>
<p></p><!--spacer-->
<h2>Additional Contact Information</h2>
<div class= container> 
<div class= oddleft>
	<p>{{result.email}}</p><!--calls the result from the database -->
	<p>{{result.address}}</p>
	<p>{{result.phone}}</p>
	<!--<p>address 3</p>
	<p>phone 3</p>
	<p>address 5</p>
	<p>phone 5</p>
	<p>address 7</p>
	<p>phone 7</p>
	<p>address 9</p>
	<p>phone 9</p>
	<p>address 11</p>
	<p>phone 11</p>-->
</div>
<div class= evenright>
	<a href= {{result.contactLink}} >Link for Contact Form on Website</a>
	<!--<p>address 2</p>Link
	<p>phone 2</p>
	<p>address 4</p>
	<p>phone 4</p>
	<p>address 6</p>
	<p>phone 6</p>
	<p>address 8</p>
	<p>phone 8</p>
	<p>address 10</p>
	<p>phone 10</p>
	<p>address 12</p>
	<p>phone 12</p>-->
</div>
</div>

</div>
{% endblock %}