/*home.html*/
.test
{
	background-color: red;
}
.card{
	width:900px ;
	margin: 0 auto;
 }
.secolumn{
width:450px;
float:right;
overflow:hidden;
}
.fircolumn{
width:450px;
float:left;
overflow:hidden;
}
.buttons{

width:900px;
height:15%;
margin: 0 auto;
display: flex;
  align-items: center;
  justify-content: center;

}
.separater{

	width: 900px;
	height: 85%;
	margin: 0 auto;
	display: flex;
  align-items: center;
  justify-content: center;
	
}
.btn{

	margin-left: 10%;
	margin-right: 10%;
}
.more{
	height: 10px;
}
.jumbotron1{
  background: url(Lawfirm3.jpg);
  background-repeat: no-repeat;
  background-size: auto;	
}


/*base.html*/
.container1{
	width: 33%;
float: left;
overflow:hidden;
}
.container2{
	width:33%;
	margin-left: 10%;
	margin-right: 10%;	
}
.container3{
	width:33%;
float:right;
overflow:hidden;

}
.footer{
	margin: 0 auto;
}
/*lawyer-profile.html*/
.oddleft{
width: 49%;
float: left;
overflow:hidden;
}
.evenright{
width: 49%;
float: right;
overflow:hidden;
}
/*about.html*/


